*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    background: rgb(110,123,211);
    background: -moz-linear-gradient(90deg, rgba(110,123,211,1) 0%, rgba(200,205,246,1) 50%, rgba(110,123,211,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(110,123,211,1) 0%, rgba(200,205,246,1) 50%, rgba(110,123,211,1) 100%);
    background: linear-gradient(90deg, rgba(110,123,211,1) 0%, rgba(200,205,246,1) 50%, rgba(110,123,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6e7bd3",endColorstr="#6e7bd3",GradientType=1);
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1.6rem;
}

img{
    width: 15rem;
    transition: all .2s ease-in-out;
}

img:hover{
    transform: rotate(360deg);
    transition: transform .8s ease-in-out;
    cursor: pointer;
}

#container{
    margin-top: 90px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

h1{
    margin-top: 2.5rem;
    margin-bottom: 0.62rem;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 3.5rem;
    opacity: .7;
}

p{
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    opacity: 0.7;
    width: 100%;
    font-size: 1.6rem;
}

input, button{
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    font-size: 1.6rem;
    border: none;
}

input{
    margin-bottom: 20px;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

button{
    background-color: #5C6CCC;
    color: white;
    transition: .5s;
    cursor: pointer;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

button:hover{
    background-color: #717ed4;
    color: white;
}